/* -------------------------------- 

Primary style

-------------------------------- */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    color: #1a1a1a;
    background-color: #ffffff;
    overflow-x: hidden;
}

a {
    color: #db6356;
    text-decoration: none;
}

:root {
    --dropdown-background-color: #fff;
    --dropdown-footer-background-color: #f0f3f6;

    --morph-nav-transitions: 0.25s;
    --morph-nav-vertical-transform-trasition: var(--morph-nav-transitions);
    --morph-nav-vertical-transform: 0px;

    --item-opacity-transition: var(--morph-nav-transitions);
    --item-visibility-transition: var(--morph-nav-transitions);

    /* Leave this and the '--item-opacity-transition' values the same */
    --bg-opacity-transition: var(--item-opacity-transition);

    /* Leave these values the same */
    --bg-offset-transition: var(--morph-nav-transitions);
    --bg-transform-transition: var(--bg-offset-transition);

    /* Notice: do not set this propery higher than '--morph-nav-transitions' */
    --content-transform-transition: var(--morph-nav-transitions);
    --content-transition-offset: 100px;
}

/* -------------------------------- 

 Header

-------------------------------- */
/* .header::before {
    content: "mobile";
    display: none;
} */
.logo {
    width: 100px;
    height: 20px;
    background-color: #fff;
    display: inline-block;
}
/* --- burger --- */
.header__burger {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;

    display: none;
}
/*
.header__burger span {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: background-color 0.25s;
    transition: background-color 0.25s;
}
.header__burger span::before {
    -webkit-transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    transform: translateY(-9px);
}
.header__burger span::after {
    -webkit-transform: translateY(9px);
    -ms-transform: translateY(9px);
    transform: translateY(9px);
}
.header__burger span::after,
.header__burger span::before {
    content: "";
    left: 0;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
}
.header__burger span,
.header__burger span::after,
.header__burger span::before {
    position: absolute;
    background-color: #1a1a1a;
    height: 3px;
    width: 26px;
}
.header__burger--active .header__burger span {
    background-color: transparent;
}
.header__burger--active .header__burger span::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.header__burger--active .header__burger span::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

header__dropdown-wrapper {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 1.2em 5%;
    box-shadow: inset 0 1px 0 #e6e6e6;
    background-color: #ffffff;
}
.header__burger--active .header__dropdown-wrapper {
    display: block;
} */

.gallery .header-dropdown__content {
    width: 100%;
}
.gallery .header-dropdown__content > ul {
    /* min-width: 530px; */
    column-gap: 150px;
    white-space: nowrap;
    columns: 2;
    width: 100%;
}
.links .header-dropdown__content > ul {
    display: grid;
    grid-template-columns: 280px 150px;
    column-gap: 20px;
}
.test .header-dropdown__content {
}
.test .header-dropdown__content ul {
    white-space: nowrap;
    /* min-width: 890px; */
}
.button .header-dropdown__content {
    min-width: 390px;
}

.header {
    position: absolute;
    /* height: 80px; */
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    /* text-align: center; */
    background-color: transparent;
}
.header::before {
    content: "desktop";
    display: none;
}

.header__container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;

    background-color: #2c5b8a;
}

.header__nav {
    display: inline-block;
}
.nav__list {
    display: flex;
}
.nav__item {
    display: inline-block;
}
.nav__item a {
    display: block;
    padding: 0 1.8em;
    height: 70px;
    line-height: 70px;
    color: #ffffff;
    font-size: 1.8rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}
.is-dropdown-visible .nav__item a {
    opacity: 0.6;
}
.is-dropdown-visible .nav__item.active a {
    opacity: 1;
}

.header__dropdown-arrow {
    position: absolute;
    top: 0px;
    left: 50%;
    margin: 0 0 0 -6px;
    width: 12px;
    height: 12px;
    transform: translateX(var(--morphNav-arrow-offset, 0)) rotate(45deg);
    translate: 0 5px;
    border-radius: 3px 0 0 0;
    background-color: #f0f3f6;
    box-shadow: -3px -3px 5px rgba(82, 95, 127, 0.04);
    pointer-events: none;
    translate: 0 5px;
    transition: translate 0.2s;
    z-index: 1;
}
.is-dropdown-visible .header__dropdown-arrow {
    transform: translateX(var(--morphNav-arrow-offset, 0)) rotate(45deg);
    translate: 0 -50%;
    transition: transform 0.25s, translate 0.2s;
}

.header__dropdown-wrapper {
    position: absolute;
    display: block;
    top: calc(100% - 10px);
    width: 100%;
    height: 1000px;
    padding: 0;
    opacity: 0;
    box-shadow: none;
    background-color: transparent;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    -webkit-transform: translateY(var(--morph-nav-vertical-transform));
    -ms-transform: translateY(var(--morph-nav-vertical-transform));
    transform: translateY(var(--morph-nav-vertical-transform));
    -webkit-transition: -webkit-transform var(--morph-nav-vertical-transform-trasition),
        opacity 0.25s;
    transition: -webkit-transform var(--morph-nav-vertical-transform-trasition), opacity 0.25s;
    transition: transform var(--morph-nav-vertical-transform-trasition), opacity 0.25s;
    transition: transform var(--morph-nav-vertical-transform-trasition), opacity 0.25s,
        -webkit-transform var(--morph-nav-vertical-transform-trasition), opacity 0.25s;
}
.is-dropdown-visible .header__dropdown-wrapper {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.header-dropdown__list-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transform: translateZ(0) translateX(var(--dropdown-list-translate-x));
    transform: translateZ(0) translateX(var(--dropdown-list-translate-x));
    will-change: transform, width, height;
    -webkit-transition: visibility 0.25s;
    transition: visibility 0.25s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    /* width: fit-content; */

    width: 100%;

    border-radius: 6px;
    overflow: hidden;
}

/* ! Reload the page if you have changed these settings \/ */

.height-mode.header-dropdown__list-wrapper {
    --dropdown-footer-padding-inline: 0px;
    --dropdown-footer-margin-bottom: 0px;
    --dropdown-footer-border-radius: 0px;
    --dropdown-footer-opacity: 1;

    --dropdown-footer-padding-inline-1: 20px;
    --dropdown-footer-padding-inline-2: 10px;
    --dropdown-footer-padding-inline-3: 20px;
    --dropdown-footer-padding-inline-4: 10px;
}
.height-mode.header-dropdown__list-wrapper.about .header-dropdown__bg {
    --dropdown-background-color: #f0f3f6;
}
.height-mode.header-dropdown__list-wrapper .pricing {
    --dropdown-content-padding-inline: 40px;
    --dropdown-content-padding-top: 0px;
    --dropdown-content-padding-bottom: 0px;
}
.height-mode.header-dropdown__list-wrapper .testing {
    --dropdown-content-padding-inline: 20px;
    --dropdown-content-padding-top: 20px;
    --dropdown-content-padding-bottom: 20px;
}
.height-mode.header-dropdown__list-wrapper .uber {
    --dropdown-content-padding-inline: 30px;
    --dropdown-content-padding-top: 20px;
    --dropdown-content-padding-bottom: 20px;
}
.height-mode.header-dropdown__list-wrapper .case {
    --dropdown-content-padding-inline: 40px;
    --dropdown-content-padding-top: 40px;
    --dropdown-content-padding-bottom: 0px;
}
.height-mode.header-dropdown__list-wrapper .pricing,
.height-mode.header-dropdown__list-wrapper.pricing {
    --dropdown-footer-padding-inline: var(--dropdown-footer-padding-inline-1);
    --dropdown-footer-margin-bottom: 10px;
    --dropdown-footer-border-radius: 5px;
}
.height-mode.header-dropdown__list-wrapper .testing,
.height-mode.header-dropdown__list-wrapper.testing {
    --dropdown-footer-padding-inline: var(--dropdown-footer-padding-inline-2);
    --dropdown-footer-margin-bottom: 0px;
    --dropdown-footer-border-radius: 0px;

    --dropdown-footer-opacity: 0;
}
.height-mode.header-dropdown__list-wrapper .uber,
.height-mode.header-dropdown__list-wrapper.uber {
    --dropdown-footer-padding-inline: var(--dropdown-footer-padding-inline-2);
    --dropdown-footer-margin-bottom: 40px;
    --dropdown-footer-border-radius: 5px;
}
.height-mode.header-dropdown__list-wrapper .case,
.height-mode.header-dropdown__list-wrapper.case {
    --dropdown-footer-padding-inline: var(--dropdown-footer-padding-inline-4);
    --dropdown-footer-margin-bottom: 10px;
    --dropdown-footer-border-radius: 5px;
}

.header-dropdown__content {
    padding: var(--dropdown-content-padding-top) var(--dropdown-content-padding-inline)
        var(--dropdown-content-padding-bottom);

    -webkit-transition: -webkit-transform var(--content-transform-transition);
    transition: -webkit-transform var(--content-transform-transition);
    transition: transform var(--content-transform-transition);
    transition: transform var(--content-transform-transition),
        -webkit-transform var(--content-transform-transition);
    text-align: left;
}
/*
.height-mode #about .header-dropdown__content {
    --dropdown-content-padding-inline: 0px;
    --dropdown-content-padding-top: 0px;
    --dropdown-content-padding-bottom: 0px;

}
.height-mode #pricing .header-dropdown__content {
    --dropdown-content-padding-inline: 0px;
    --dropdown-content-padding-top: 0px;
    --dropdown-content-padding-bottom: 0px;

    --dropdown-footer-padding-inline: var(--dropdown-footer-padding-inline-1);
    --dropdown-footer-margin-bottom: 0px;
    --dropdown-footer-border-radius: 5px;
}
.height-mode #testing .header-dropdown__content {
    --dropdown-content-padding-inline: 20px;
    --dropdown-content-padding-top: 0px;
    --dropdown-content-padding-bottom: 0px;

    --dropdown-footer-padding-inline: var(--dropdown-footer-padding-inline-2);
    --dropdown-footer-margin-bottom: 0px;
    --dropdown-footer-border-radius: 0px;
}
.height-mode #uber .header-dropdown__content {

    --dropdown-footer-padding-inline: var(--dropdown-footer-padding-inline-3);
    --dropdown-footer-margin-bottom: 10px;
    --dropdown-footer-border-radius: 5px;
}
.height-mode #case .header-dropdown__content {
    --dropdown-content-padding-inline: 20px;
    --dropdown-content-padding-top: 0px;
    --dropdown-content-padding-bottom: 0px;

    --dropdown-footer-padding-inline: var(--dropdown-footer-padding-inline-4);
    --dropdown-footer-margin-bottom: 10px;
    --dropdown-footer-border-radius: 5px;
}
*/

#pricing .header-dropdown__footer {
    padding-block: 20px;
}
#uber .header-dropdown__footer {
    padding-block: 10px;
}
#case .header-dropdown__footer {
    margin-top: 20px;
    padding-block: 40px;
}

/* ! ^^^^ RELOAD PAGE IF CHANGE THIS PARAMETERS ^^^^ */

.is-dropdown-visible .header-dropdown__list-wrapper {
    visibility: visible;
    -webkit-transition: width var(--bg-offset-transition), height var(--bg-offset-transition),
        -webkit-transform var(--bg-transform-transition);
    transition: width var(--bg-offset-transition), height var(--bg-offset-transition),
        -webkit-transform var(--bg-transform-transition);
    transition: transform var(--bg-transform-transition), width var(--bg-offset-transition),
        height var(--bg-offset-transition);
    transition: transform var(--bg-transform-transition), width var(--bg-offset-transition),
        height var(--bg-offset-transition), -webkit-transform var(--bg-transform-transition);
}
.no-csstransitions .header-dropdown__list-wrapper {
    display: none;
}

.header-dropdown__list {
    position: relative;
    z-index: 1;
    height: 100%;
    overflow: hidden;
}

.header-dropdown__item {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    width: fit-content;

    -webkit-transition: opacity var(--item-opacity-transition),
        visibility var(--item-visibility-transition);
    transition: opacity var(--item-opacity-transition), visibility var(--item-visibility-transition);
}
.header-dropdown__item.active {
    opacity: 1;
    visibility: visible;
}
.header-dropdown__item.move-left .header-dropdown__content {
    -webkit-transform: translateX(calc(-1 * var(--content-transition-offset)));
    -ms-transform: translateX(calc(-1 * var(--content-transition-offset)));
    transform: translateX(calc(-1 * var(--content-transition-offset)));
}
.header-dropdown__item.move-right .header-dropdown__content {
    -webkit-transform: translateX(var(--content-transition-offset));
    -ms-transform: translateX(var(--content-transition-offset));
    transform: translateX(var(--content-transition-offset));
}

.header-dropdown__bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.header-dropdown__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    background: var(--dropdown-background-color);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: opacity var(--bg-opacity-transition);
    transition: opacity var(--bg-opacity-transition);
    overflow: hidden;
}
.header-dropdown__footer {
    position: relative;

    max-width: calc(
        100% - (var(--dropdown-footer-padding-inline) * 2) + var(--dropdown-content-padding-inline) *
            2
    );

    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: calc(var(--dropdown-footer-margin-bottom));
}
.height-mode .dropdown-bg__footer {
    bottom: calc(var(--dropdown-footer-margin-bottom) + var(--dropdown-content-padding-bottom));
    left: 50%;
    translate: -50% 0;
    width: calc(100% - var(--dropdown-footer-padding-inline) * 2);
    max-height: 0;
    opacity: var(--dropdown-footer-opacity);
    transition: opacity 0.25s;
}
.transform-mode .dropdown-bg__footer {
    will-change: transform;
    width: 110%;
    transform: translateY(100%);
    translate: -5% 0;
}
.dropdown-bg__footer {
    position: absolute;

    height: 100%;
    background: var(--dropdown-footer-background-color);
    border-radius: var(--dropdown-footer-border-radius);
}

.is-dropdown-visible .header-dropdown__bg,
.is-dropdown-visible .dropdown-bg__footer {
    -webkit-transition: opacity var(--bg-opacity-transition),
        -webkit-transform var(--bg-transform-transition), max-height 0.25s, bottom 0.25s,
        width 0.25s, background-color 0.25s;
    transition: opacity var(--bg-opacity-transition),
        -webkit-transform var(--bg-transform-transition), max-height 0.25s, bottom 0.25s,
        width 0.25s, background-color 0.25s;
    transition: transform var(--bg-transform-transition), opacity var(--bg-opacity-transition),
        max-height 0.25s, bottom 0.25s, width 0.25s, background-color 0.25s;
    transition: transform var(--bg-transform-transition), opacity var(--bg-opacity-transition),
        -webkit-transform var(--bg-transform-transition), max-height 0.25s, bottom 0.25s,
        width 0.25s, background-color 0.25s;
}

/* -------------------------------- 

Main site content

-------------------------------- */
.cd-main-content {
    min-height: 100vh;
    background-color: #548c7e;
}
@media only screen and (min-width: 1000px) {
    .cd-main-content {
        padding-top: 80px;
    }
}
@media (max-width: 1100px) {
    .visible-desktop {
        display: none !important;
    }
    .height-mode.header-dropdown__list-wrapper .uber,
    .height-mode.header-dropdown__list-wrapper.uber {
        --dropdown-footer-margin-bottom: 0px;
    }
}
