.header {
    position: relative;
    height: 60px;
    background-color: #ffffff;

    &::before {
        content: "mobile";
        display: none;

        @media (min-width: 1000px) {
            content: "desktop";
        }
    }

    @media (min-width: 1000px) {
        position: absolute;
        height: 80px;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0;
        text-align: center;
        background-color: transparent;
    }

    // .header__burger
    &__burger {
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
        width: 60px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        color: transparent;

        span {
            left: 50%;
            top: 50%;
            bottom: auto;
            right: auto;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            -webkit-transition: background-color 0.3s;
            transition: background-color 0.3s;

            &::before {
                -webkit-transform: translateY(-9px);
                -ms-transform: translateY(-9px);
                transform: translateY(-9px);
            }
            &::after {
                -webkit-transform: translateY(9px);
                -ms-transform: translateY(9px);
                transform: translateY(9px);
            }
            &::before,
            &::after {
                content: "";
                left: 0;
                -webkit-transition: -webkit-transform 0.3s;
                transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                transition: transform 0.3s, -webkit-transform 0.3s;
            }

            &,
            &::before,
            &::after {
                position: absolute;
                background-color: #1a1a1a;
                height: 3px;
                width: 26px;
            }

            .header__burger--active & {
                background-color: transparent;
            }
            .header__burger--active &::before {
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            .header__burger--active &::after {
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }

        @media (min-width: 1000px) {
            display: none;
        }
    }

    // .header__nav
    &__nav {
        display: none;

        @media (min-width: 1000px) {
            display: inline-block;

            & li {
                display: inline-block;

                & a {
                    display: block;
                    padding: 0 1.8em;
                    height: 70px;
                    line-height: 70px;
                    color: #ffffff;
                    font-size: 1.8rem;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-transition: opacity 0.2s;
                    transition: opacity 0.2s;
                }
            }

            .is-dropdown-visible & > .nav__item > a {
                opacity: 0.6;
            }
            .is-dropdown-visible & > .nav__item.active > a {
                opacity: 1;
            }
        }
    }

    // .header__dropdown-wrapper
    &__dropdown-wrapper {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 1.2em 5%;
        box-shadow: inset 0 1px 0 #e6e6e6;
        background-color: #ffffff;

        .header__burger--active & {
            display: block;
        }

        @media (min-width: 1000px) {
            display: block;
            top: 58px;
            width: auto;
            padding: 0;
            box-shadow: none;
            background-color: transparent;

            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            will-change: transform;
            -webkit-transform: translateY(var(--morph-nav-vertical-transform));
            -ms-transform: translateY(var(--morph-nav-vertical-transform));
            transform: translateY(var(--morph-nav-vertical-transform));
            -webkit-transition: -webkit-transform
                var(--morph-nav-vertical-transform-trasition);
            transition: -webkit-transform
                var(--morph-nav-vertical-transform-trasition);
            transition: transform var(--morph-nav-vertical-transform-trasition);
            transition: transform var(--morph-nav-vertical-transform-trasition),
                -webkit-transform var(--morph-nav-vertical-transform-trasition);

            .is-dropdown-visible & {
                -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0);
            }
        }
    }
}
.nav {
    // .nav__list
    &__list {
    }

    // .nav__item
    &__item {
    }

    // .nav__item--dropdown
    &__item--dropdown {
    }
}
.header-dropdown {
    // .header-dropdown__wrapper

    &__wrapper {
    }

    // .header-dropdown__list-wrapper

    &__list-wrapper {
        @media (min-width: 1000px) {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            will-change: transform, width, height;
            -webkit-transition: visibility 0.3s;
            transition: visibility 0.3s;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);

            &::before {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                right: auto;
                pointer-events: none;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                height: 0;
                width: 0;
                border: 8px solid transparent;
                border-bottom-color: #ffffff;
                opacity: 0;
                -webkit-transition: opacity 0.3s;
                transition: opacity 0.3s;

                .is-dropdown-visible & {
                    opacity: 1;
                }
            }

            .is-dropdown-visible & {
                visibility: visible;
                -webkit-transition: width var(--bg-offset-transition),
                    height var(--bg-offset-transition),
                    -webkit-transform var(--bg-transform-transition);
                transition: width var(--bg-offset-transition),
                    height var(--bg-offset-transition),
                    -webkit-transform var(--bg-transform-transition);
                transition: transform var(--bg-transform-transition),
                    width var(--bg-offset-transition),
                    height var(--bg-offset-transition);
                transition: transform var(--bg-transform-transition),
                    width var(--bg-offset-transition),
                    height var(--bg-offset-transition),
                    -webkit-transform var(--bg-transform-transition);
            }
        }
    }

    // .header-dropdown__list

    &__list {
        @media (min-width: 1000px) {
            position: relative;
            z-index: 1;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    }

    // .header-dropdown__item

    &__item {
        @media (min-width: 1000px) {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            -webkit-transition: opacity var(--item-opacity-transition),
                visibility var(--item-visibility-transition);
            transition: opacity var(--item-opacity-transition),
                visibility var(--item-visibility-transition);

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    // .header-dropdown__content

    &__content {
    }

    // .header-dropdown__footer

    &__footer {
        @media (min-width: 1000px) {
            padding-top: 20px;
            margin-top: 15px;
        }
    }

    // .header-dropdown__bg-container

    &__bg-container {
        @media (min-width: 1000px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }

    // .header-dropdown__bg

    &__bg {
    }
}
.dropdown-bg {
    // .dropdown-bg__footer
    @media (min-width: 1000px) {
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 1px;
        background: #ffffff;
        opacity: 0;
        -webkit-transition: opacity var(--bg-opacity-transition);
        transition: opacity var(--bg-opacity-transition);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        overflow: hidden;
    }
    .is-dropdown-visible &,
    .is-dropdown-visible &__footer {
        @media (min-width: 1000px) {
            opacity: 1;
            -webkit-transition: opacity var(--bg-opacity-transition),
                -webkit-transform var(--bg-transform-transition);
            transition: opacity var(--bg-opacity-transition),
                -webkit-transform var(--bg-transform-transition);
            transition: transform var(--bg-transform-transition),
                opacity var(--bg-opacity-transition);
            transition: transform var(--bg-transform-transition),
                opacity var(--bg-opacity-transition),
                -webkit-transform var(--bg-transform-transition);
        }
    }

    &__footer {
        @media (min-width: 1000px) {
            position: absolute;
            bottom: 0;
            left: 0;
            will-change: transform;
            height: 100%;
            width: 110%;
            opacity: 0;
            background: #2c5b8a;
            transform: translateY(100%);
            translate: -5% 0;

            transition: opacity 0.3s;

            .is-dropdown-visible & {
                opacity: 1;
                transition: opacity 0.3, transform 0.3s;
            }
        }
    }
}
.gallery {
}
.label {
    display: block;
    font-size: 2.2rem;
    color: #1a1a1a;
    margin-bottom: 0.8em;

    @media (min-width: 1000px) {
        display: none;
    }
}
.list {
}
.item {
}
.links {
}
.links-list a,
.header .btn {
    display: block;
    margin-left: 14px;
    font-size: 2.2rem;
    line-height: 1.6;

    &:hover {
        color: #1a1a1a;
    }
}
.button {
}
.btn {
}
.test {
}

.bg-layer {
}
